<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    <title>Doctor's Dashboard</title>
    <style>
        .selectable input:checked + div {
            background-color: #d1e7dd !important;
            border: 2px solid black !important;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">HM Hospital</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Welcome, {{ doctor['doctor_name'] }}</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <button class="btn btn-outline-danger" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="card mb-3 m-1">
    <div class="card-body">
        <h5 class="card-title">Upcoming Appointments</h5>
        <table class="table table-bordered text-center">
            <tr>
                <th>Sr No.</th>
                <th>Patient Name</th>
                <th>Patient History</th>
                <th>Action</th>
            </tr>
            {% for pt in patients %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ pt.patient_name }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                data-bs-target="#updatePatient{{ loop.index }}">Update
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-success">Mark a complete</button>
                        <button type="button" class="btn btn-outline-danger">Cancel</button>
                    </td>
                </tr>
                <form action="/diagnose/{{ pt.appointment_id }}/{{ doctor.doctor_id }}" method="POST" id="create-form">
                    <div class="modal fade" id="updatePatient{{ loop.index }}" tabindex="-1"
                         aria-labelledby="patientModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="patientModalLabel">Update Patient History</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Patient Name: {{ pt.patient_name }}</p>
                                    <p>Department: {{ doctor_dept }}</p>
                                    <div class="col-md-12 d-flex">
                                        <div class="mb-3 container-fluid">
                                            <label for="exampleInputUsername" class="form-label">Visit Type</label>
                                            <input type="text" class="form-control" id="exampleInputUsername"
                                                   name="vist_type" required>
                                        </div>
                                        <div class="mb-3 mx-2 container-fluid">
                                            <label for="exampleInputEmail1" class="form-label">Test Done</label>
                                            <input type="text" class="form-control" id="exampleInputUsername"
                                                   name="test_done" required>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="diagnosis" class="form-label">Diagnosis</label>
                                            <textarea class="form-control" id="diagnosis" rows="3"
                                                      name="diagnosis"></textarea>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">Medicines</label>
                                            <div class="medicines-box">
                                                <div class="d-flex align-items-center">
                                                    <select class="form-select mx-1 my-1" name="medicines_id1"
                                                            aria-label="Default select example">
                                                        <option selected></option>
                                                        {% for me in medicine_name %}
                                                            <option value="{{ me.medicine_name }}">{{ me.medicine_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="text" class="form-control" id="exampleInputUsername"
                                                           name="dose_1">
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <select class="form-select mx-1 my-1" name="medicines_id2"
                                                            aria-label="Default select example">
                                                        <option selected></option>
                                                        {% for me in medicine_name %}
                                                            <option value="{{ me.medicine_name }}">{{ me.medicine_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="text" class="form-control" id="exampleInputUsername"
                                                           name="dose_2">
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <select class="form-select mx-1 my-1" name="medicines_id3"
                                                            aria-label="Default select example">
                                                        <option selected></option>
                                                        {% for me in medicine_name %}
                                                            <option value="{{ me.medicine_name }}">{{ me.medicine_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="text" class="form-control" id="exampleInputUsername"
                                                           name="dose_3">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputUsername" class="form-label">Prescription</label>
                                        <textarea class="form-control" id="exampleInputUsername" rows="3"
                                                  name="prescription"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            {% endfor %}
        </table>
    </div>
</div>
<div class="card mb-3 m-1">
    <div class="card-body">
        <h5 class="card-title">Assigned Patients</h5>
        <div class="list-group" style="max-height: 400px;overflow-y: auto;">
            {% for p in patients %}
                <div class="list-group-item" style="display: flex">
                    <div class="d-flex align-items-center container-fluid">
                        <p class="mb-0">{{ p.patient_name }}</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-end container-fluid">
                        <button type="button" class="btn btn-outline-primary m-1" data-bs-toggle="modal"
                                data-bs-target="#patientHistory{{ p.appointment_id }}">View
                        </button>
                    </div>
                </div>
                <div class="modal fade modal-xl" id="patientHistory{{ p.appointment_id }}" tabindex="-1"
                     aria-labelledby="patientHistoryLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Patient History</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Back"></button>
                            </div>
                            <div class="modal-body">
                                <p>Patient Name: {{ p.patient_name }}</p>
                                <p>Doctors' Name: {{ doctor.doctor_name }}</p>
                                <p>Department: {{ doctor_dept }}</p>
                                <table class="table table-bordered text-center">
                                    <tr>
                                        <th>Visit No.</th>
                                        <th>Visit Type</th>
                                        <th>Test Done</th>
                                        <th>Diagnosis</th>
                                        <th>Prescription</th>
                                        <th>Medicines</th>
                                    </tr>
                                    {% for t in treatment %}
                                        {% if t.appointment_id==p.appointment_id %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ t.visit_type }}</td>
                                                <td>{{ t.test_done }}</td>
                                                <td>{{ t.diagnosis }}</td>
                                                <td>{{ t.prescription }}</td>
                                                <td>{{ t.medicine_dose }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="d-flex align-items-center justify-content-end container-fluid">
    <button type="button" class="btn btn-outline-success m-2" data-bs-toggle="modal"
            data-bs-target="#checkAvailability">
        Provide
        Availability
    </button>
</div>
<form method="POST"
      action="/doctor/book_slot/{{ doctor.doctor_id }}">
    <div class="modal fade" id="checkAvailability" tabindex="-1"
         aria-labelledby="checkAvailabilityLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="checkAvailabilityLabel">Doctor
                        Availability</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        <div class="container text-center">
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 gx-2 gy-1">
                                {% for date, slots in doctors_availability.items() %}
                                    <div class="col">
                                        <label class="selectable">
                                            <div class="border border-primary rounded p-2 bg-white">
                                                {{ date }}
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="selectable">
                                            <input type="checkbox" name="selected_slot"
                                                   value="slot1|{{ date }}"
                                                   hidden>
                                            <div class="border {% if  slots.slot1 %} border-success {% else %} border-danger {% endif %} rounded p-2 bg-white">
                                                08:00 - 12:00 am
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="selectable">
                                            <input type="checkbox" name="selected_slot"
                                                   value="slot2|{{ date }}"
                                                   hidden>
                                            <div class="border {% if  slots.slot2 %} border-success {% else %} border-danger {% endif %} rounded p-2 bg-white">
                                                04:00 - 09:00 pm
                                            </div>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>