<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <title>Edit Data</title>
</head>

<body>
    <div class="container-fluid" style="display: flex;font-weight: bold;padding: 10px;background-color: #fafafa">
        <div class="container-fluid">
            <h1>User Detail</h1>
        </div>
        <div style="padding: 10px">
            <form action="/user/login" method="GET">
                <input type="submit" class="btn btn-primary" value="Add User">
            </form>
        </div>
    </div>
    <table class="table">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Handle</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user['id'] }}</td>
            <td>{{ user['username'] }}</td>
            <td>{{ user['email'] }}</td>
            <td>
                <div>
                    <form action="/user/{{ user['id'] }}/edit" method="GET">
                        <input type="submit" class="btn btn-primary" value="Edit">
                        <input type="submit" class="btn btn-danger" formaction="/user/{{ user['id'] }}/delete"
                            value="Delete">
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
        <tr>
        </tr>
    </table>
</body>

</html>